<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="certifyMapper">
	<resultMap type="certHistoryVO" id="certHistoryMap">
<!--		<result column="VISA_TYPE" property="visaType" />-->
		<result column="FILE_NM_REG" property="regFileName" />
		<result column="FILE_NM_VISA" property="visaFileName" />
	</resultMap>
	
	<!-- ===== 비대면인증 신청내역 ===== -->
	<!-- 삽입 -->
	<insert id="insertHistory" parameterType="certHistoryVO">
		INSERT INTO TB_CERT_HISTORY
		(CERTID, APPLICANT, REG_DATE, STATUS)
		VALUES(#{certId},#{applicant}, SYSDATE, '0')
	</insert>
		
	<!-- 전체조회 -->
	<select id="selectAllHistory" resultType="certHistoryVO" resultMap="certHistoryMap" >
		SELECT *
		FROM TB_CERT_HISTORY
	</select>
	
	<!-- 상세조회 -->
	<select id="selectOneHistory" resultType="certHistoryVO" resultMap="certHistoryMap" >
		SELECT *
		FROM TB_CERT_HISTORY
		WHERE CERTID = #{certId}
	</select>
	
	<!-- certId에 대한 시퀀스 -->
	<select id="selectSeq" resultType="int">
		SELECT SEQ_CERT_HISTORY.NEXTVAL FROM DUAL
	</select>

	


	<!-- ===== 파일 ===== -->
	<!-- 신청번호에 따른 파일이름 반환(외국인등록증, 비자) -->
	<select id="selectByCertId" parameterType="String" resultType="String">
		SELECT SAVENAME
		FROM TB_CERT_FILE 
		WHERE CERTID = #{certId}
	</select>
	
	<!-- 파일 삽입 -->
	<insert id="insertFile" parameterType="certFileVO">
		INSERT INTO TB_CERT_FILE
		(SAVENAME, ORGINNAME, CERTID)
		VALUES(#{saveName}, #{originName}, -1)
	</insert>	

</mapper>	